 
html{
background:#f9fae6 url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgMain.png) repeat center top;
}
body{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgSky.png) repeat-x center top;
color:#404040;
display:block;
font-family:Helvetica,Arial,Verdana,sans-serif;
width:100%;
}
#container{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgHdr.png) no-repeat center top;
width:100%;
}
.box{
margin:0 auto;
position:relative;
width:960px;	
}
/*clearfix*/
.clearfix:after,
.box:after{
clear:both;
content:".";
display:block;
height:0;
line-height:0;
visibility:hidden;
}
.clearfix,
.box{
display:block;
zoom:1;
}
html[xmlns] .clearfix,
html[xmlns] .box{
display:block;
}
* html .clearfix,
* html .box{
height:1%;
}

#hero{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgHills.png) repeat-x -10% 182px;
height:816px;
width:100%;
}
#hero .wrapper{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iGrassTop.gif) repeat-x -60% 204px;
display:block;
height:816px;
width:100%;
}
#content{
margin:0 auto;
padding:50px 0 0;
width:960px;
}
#content .box{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iBar.gif) repeat-y center top;
}
#backToWAC{
left:115px;
position:relative;
top:10px;
}
#backToWAC a{
cursor:pointer;
display:block;
height:35px;
text-indent:-9999px;
width:125px;
}
h1{
left:250px;
position:absolute;
top:0px;
}
h1 a{
cursor:pointer;
display:block;
height:135px;
text-indent:-9999px;
width:460px;
z-index:9999;
}
#angrynerds{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iAngryNerdsGr.png) no-repeat 0 0;
display:block;
height:160px;
left:0;
position:absolute;
top:103px;
width:378px;
}
#bugs{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iBugsGr.png) no-repeat 0 0;
display:block;
height:220px;
position:absolute;
right:-66px;
top:43px;
width:429px;
}
p#intro{
color:#fff;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:174%;
left:0;
line-height:36px;
position:absolute;
top:284px;
width:640px;
}
#iPads{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgIPad.jpg) no-repeat 0 0;
height:376px;
left:-45px;
padding:52px 0 0 170px;
position:absolute;
top:388px;
width:680px;
}
#theGame{
/*background:#000 url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/AngryNerds_SplashScreen.jpg) no-repeat center;*/
background-color:#000;
display:block;
height:310px;
width:421px;
}
.aside{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgAsideBottom.png) no-repeat center bottom;
}
.aside ul{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgAsideTop.png) no-repeat center top;
}
.aside ul li em{
font-style:italic;
}
#hero .aside{
position:absolute;
right:0;
top:278px;
}
#hero .aside ul{
padding:0 28px 29px;
width:206px;
}
#hero .aside li{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:131%;
line-height:25px;
margin-bottom:3px;
padding:28px 0 24px;
}
#blizzard{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iBlizzard.png) no-repeat 0 bottom;
}
#nerdGames{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iNerdGames.png) no-repeat 0 bottom;
}
#rovio{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iRovio.png) no-repeat 0 bottom;
}
#social{
display:block;
height:62px;
position:absolute;
right:0;
top:699px;
width:130px;	
}
#social #twitter{
float:left;
}
#social #facebook{
float:right;	
}
#gameLauncher{
display:block;
height:90px;
position:absolute;
right:160px;
top:699px;
width:103px;	
}
#gameLauncher a{
cursor:pointer;
display:block;
height:90px;
text-indent:-9999px;
width:103px;	
}
#content h2{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrMeetTheNerds.png) no-repeat center top;
display:block;
height:72px;
text-indent:-9999px;
width:960px;
}
.profile{
border-bottom:1px solid #d6d9ad;
float:left;
position:relative;
width:255px;
}
.profile h3{
background-postion:0 0;
background-repeat:no-repeat;
display:block;
height:24px;
margin:30px 0 15px;
text-indent:-9999px;
width:214px;
}
.profile p{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:116%;
line-height:20px;
margin-bottom:13px;
}
.profile p.specialMove{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrSpecialMove.png) no-repeat 0 2px;
margin-bottom:13px;
padding-top:25px;
}
.profile .counter{
display:none;
left:8px;
position:absolute;
width:165px;
}
.profile .counter a{
background-color:#798CB8;
border-color:#29447E #29447E #1A356E;
border-style:solid;
border-width:1px;
color:white;
cursor:pointer;
display:inline-block;
float:left;
font-size:85%;
font-weight:bold;
line-height:16px;
padding:0 6px;
text-decoration:none;
}
.profile .counter div{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgCounter.png) no-repeat 3px 0;
border-right:1px solid #c1c1c1;
color:#000;;
display:inline-block;
font-size:85%;
line-height:18px;
padding:0 4px 0 12px;
}
.theFrontEnder,
.theHacker,
.theDevMgr{
padding:0 55px 0 190px;
}
.theOutsourced,
.theAgilista,
.theFounder{
padding:0 15px 0 190px;
}
.theFrontEnder{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iFrontEnder.gif) no-repeat 11px 30px;
height:227px;
}
.theOutsourced{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iOutsourced.gif) no-repeat 25px 30px;
height:227px;
}
.theHacker{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iHacker.gif) no-repeat 0 30px;
height:233px;
}
.theAgilista{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iAgilista.gif) no-repeat 5px 30px;
height:233px;
}
.theDevMgr{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iDevMgr.gif) no-repeat 18px 30px;
height:275px;
}
.theFounder{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iFounder.gif) no-repeat 11px 30px;
height:275px;
}
.theBugs{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgMain.gif) repeat 0 0;
border-bottom:0;
height:215px;
padding:0;
width:960px;
}
.theBugs .wrapper{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iBugs.gif) no-repeat 0 0;
display:block;
height:215px;
padding:0 15px 0 690px;
}
.theFrontEnder h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrFrontEnder.png);
}
.theOutsourced h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrOutsourced.png);
}
.theHacker h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrHacker.png);
}
.theAgilista h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrAgilista.png);
}
.theDevMgr h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrDevMgr.png);
}
.theFounder h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrFounder.png);
}
.theBugs h3{
background-image:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrBugs.png);
}
.theFrontEnder .counter{
top:166px;
}
.theOutsourced .counter{
top:163px;	
}
.theHacker .counter{
top:155px;	
}
.theAgilista .counter{
top:152px;	
}
.theDevMgr .counter{
top:193px;	
}
.theFounder .counter{
top:169px;	
}
.theBugs .counter{
left:0;
position:relative;
top:0;
}
#switcher{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iShareaNerd.png) no-repeat 0 0;
display:block;
height:43px;
position:absolute;
right:-40px;
text-indent:-9999px;
top:-27px;
width:236px;
}
#switcher:hover{
background-position:0 -58px;
}
#footer{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/iGrassBottom.gif) repeat-x -60% 0;
display:block;
height:532px;
width:100%;
}
#footer .box{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrFooter.png) no-repeat center 470px;
height:474px;
padding-top:58px;
}
#footer h2{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/hdrAngryNerdsMerch.png) no-repeat 0 0;
display:block;
height:60px;
text-indent:-9999px;
width:621px;
}
#footer .aside{
padding-bottom:29px;
position:absolute;
right:0;
top:58px;
width:262px;
}
#footer .aside h3{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/bgAsidePressRelease.png) no-repeat center top;
display:block;
height:50px;
text-indent:-9999px;
width:262px;
}
#footer .aside h4{
color:#036;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:116%;
line-height:21px;
margin-bottom:9px;
padding:0 28px;
}
#footer .aside p{
font-family:Georgia, "Times New Roman", Times, serif;
line-height:19px;
margin-bottom:9px;
padding:0 28px;
}
#footer .aside a{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/aLink.gif) no-repeat right center;
color:#036;
padding-right:10px;
}
#merchandise{
padding-top:20px;	
}
#merchandise li{
color:#fff;
float:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:116%;
line-height:20px;
text-align:center;
width:207px;
}
#merchandise li a{
background:url(http://www.atlassian.com/en/dms/wac/images/landing/angrynerds/aLinkWht.gif) no-repeat right center;
color:#fff;
padding-right:10px;
}